# Core
fastapi
uvicorn
python-multipart

# LLM + RAG
google-generativeai
chromadb
sentence-transformers

# Web/Scraping
streamlit
beautifulsoup4
newspaper3k          # For JD URL text extraction
requests

# Utilities
pydantic             # Data validation
tqdm                  # Progress bars for scraping
numpy                  # For embeddings
python-dotenv         # For API keys (`.env`)


streamlit-lottie 
streamlit-extras 
streamlit-card 
streamlit-shadcn-ui

cohere